<div id="container">
  <div id="lightsaber">
    <div class="progress">
      <div class="glow-light" [style.width]="widthProg"></div>
    </div>
    <div class="handle">
      <div class="buttplug"></div>
      <div class="butt"></div>
      <div class="above-butt"></div>
      <div class="coily-light"></div>
      <div class="gold-thing"></div>
      <div class="other-gold-thing"></div>
      <div class="fin"></div>
    </div>
  </div>
  <div id="loading" class="%p">
    {{'Loading' | translate}} <span>{{loaded}}</span>%
  </div>
</div>
